Repository isorna/wardice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, postcss --config postcss.config.js --replace

feat: translate CommonJS files to ESM
  __test__/index.test.js
  index.js
Due: eslint --fix

fix(config): babel configuration
  babel.config.js
  package.json
Due: eslint --fix

fix(export): wrong default named export
  index.js
Due: eslint --fix

ci(Jest): :construction: jest configuration
  package.json
Due: none

chore(Jest): :construction: vs code debug tests launch configuration
  .vscode/launch.json
Due: none

docs: add Readme
  .env
  .vscode/settings.json
  README.md
Due: none

chore: project reset
  . eslintignore
  .env
  .eslintrc.js
  .github/dependabot.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .stylelintrc.json
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  __test__/index.test.js
  babel.config.js
  commitlint.config.js
  index.js
  package-lock.json
  package.json
  postcss.config.js
Due: eslint --fix

Create dependabot.yml
  .github/dependabot.yml
Due: none

feat(git): :tada: New project structure
  README.md
  package.json
Due: none

chore(devX): :technologist: install linters
  .commitlint.json
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .stylelintrc.json
  LICENSE
  commitlint.config.cjs
  package-lock.json
  package.json
Due: none

ci(architecture): :construction_worker: install release please git workflow
  .github/workflows/release-please.yml
Due: none

feat(architecture): :sparkles: add vite configuration files
  .vscode/extensions.json
  package-lock.json
  package.json
  vite.config.js
Due: eslint --fix

feat(PWA): :sparkles: add PWA files
  index.html
  public/icons/screen1.png
  public/manifest.json
  public/service-worker.js
Due: eslint --fix

ci(architecture): :rocket: set up firebase hosting and github actions
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  package-lock.json
  package.json
  public/index.html
Due: none

chore(git): :see_no_evil: update gitignore files
  .gitignore
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

build(PWA): :bug: update manifest
  index.html
  package.json
  public/manifest.json
Due: none

refactor(pwa): :recycle: refactor code structure, add api submodule, improve PWA generation
  .gitignore
  .gitmodules
  index.html
  package-lock.json
  package.json
  public/icons/manifest-icon-192.png
  public/icons/manifest-icon-512.png
  public/manifest.json
  public/robots.txt
  public/service-worker.js
  src/App.vue
  src/components/40k/FilterForm.vue
  src/components/40k/PageFooter.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/ProfilesList.vue
  src/components/ProfileCard.vue
  src/main.js
  src/router/routes.js
  src/style.css
  src/views/40k/AdeptusAstartesPage.vue
  src/views/40k/BlackTemplarsPage.vue
  src/views/40k/BloodAngelsPage.vue
  src/views/40k/ChaosDaemonsPage.vue
  src/views/40k/ChaosSpaceMarinesPage.vue
  src/views/40k/DarkAngelsPage.vue
  src/views/40k/DeathGuardPage.vue
  src/views/40k/HomePage.vue
  src/views/40k/SpaceWolvesPage.vue
  src/views/40k/ThousandSonsPage.vue
  src/views/40k/TyranidsPage.vue
  src/views/40k/WorldEatersPage.vue
  src/views/IndexPage.vue
  src/wardice.app.css
  src/wardice.normalize.css
  vite.config.js
Due: eslint --fix, stylelint

feat(40k pages): :sparkles: jun 14 new indexes
  .gitignore
  src/router/routes.js
  src/views/40k/AdeptaSororitasPage.vue
  src/views/40k/AdeptusAstartesPage.vue
  src/views/40k/AdeptusCustodesPage.vue
  src/views/40k/AdeptusMechanicus.vue
  src/views/40k/AgentsImperium.vue
  src/views/40k/AstraMilitarumPage.vue
  src/views/40k/BlackTemplarsPage.vue
  src/views/40k/BloodAngelsPage.vue
  src/views/40k/ChaosKnightsPage.vue
  src/views/40k/ChaosSpaceMarinesPage.vue
  src/views/40k/DarkAngelsPage.vue
  src/views/40k/DeathGuardPage.vue
  src/views/40k/DeathwatchPage.vue
  src/views/40k/GreyKnightsPage.vue
  src/views/40k/HomePage.vue
  src/views/40k/ImperialKnightsPage.vue
  src/views/40k/SpaceWolvesPage.vue
  src/views/40k/ThousandSonsPage.vue
  src/views/40k/TyranidsPage.vue
  src/views/40k/WorldEatersPage.vue
Due: eslint --fix

feat(40k pages): :sparkles: jun 14 index pages
  src/views/40k/AdeptusMechanicusPage.vue
  src/views/40k/AgentsImperiumPage.vue
Due: none

feat(40k pages): :sparkles: jun 15 indexes
  src/router/routes.js
  src/views/40k/HomePage.vue
Due: eslint --fix

feat(40k pages): :sparkles: jun 15 indexes
  src/router/routes.js
  src/views/40k/AeldariPage.vue
  src/views/40k/DrukhariPage.vue
  src/views/40k/GenestealerCultsPage.vue
  src/views/40k/LeaguesVotannPage.vue
  src/views/40k/NecronsPage.vue
  src/views/40k/OrksPage.vue
  src/views/40k/TauEmpirePage.vue
Due: eslint --fix

fix(40k pages): :bug: fix profile bugfixes for Votann
  src/App.vue
  src/components/40k/ProfileCard.vue
  src/components/SponsorMe.vue
Due: none

feat(40k pages): :sparkles: show missing api data (WIP)
  src/App.vue
  src/components/40k/ProfileCard.vue
  src/views/IndexPage.vue
  vite.config.js
Due: eslint --fix

style(components): :art: restyle points value
  src/components/40k/ProfileCard.vue
Due: none

fix(40k pages): :bug: fix several data bugs
  src/components/40k/ProfileCard.vue
Due: none

feat(components): :sparkles: new list builder WIP
  README.md
  src/components/40k/FilterForm.vue
  src/components/40k/PageFooter.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/SavedList.vue
  src/store/40k/lists.store.js
  src/store/app.store.js
  src/store/collection.store.js
  src/store/results.store.js
  src/style.css
  src/views/40k/LeaguesVotannPage.vue
Due: eslint --fix, stylelint

refactor(api): :recycle: move api folder to public so that build chunks are correct for production
  README.md
  src/router/routes.js
  src/views/40k/LeaguesVotannPage.vue
  vite.config.js
Due: eslint --fix

refactor(build system): :recycle: remove old submodule api
  .gitmodules
Due: none

refactor(build system): :recycle: update new api submodule path
  .gitmodules
Due: none

refactor(build system): :recycle: update views with new api location
  src/components/40k/ProfileCard.vue
  src/views/40k/AdeptaSororitasPage.vue
  src/views/40k/AdeptusAstartesPage.vue
  src/views/40k/AdeptusCustodesPage.vue
  src/views/40k/AdeptusMechanicusPage.vue
  src/views/40k/AeldariPage.vue
  src/views/40k/AgentsImperiumPage.vue
  src/views/40k/AstraMilitarumPage.vue
  src/views/40k/BlackTemplarsPage.vue
  src/views/40k/BloodAngelsPage.vue
  src/views/40k/ChaosDaemonsPage.vue
  src/views/40k/ChaosKnightsPage.vue
  src/views/40k/ChaosSpaceMarinesPage.vue
  src/views/40k/DarkAngelsPage.vue
  src/views/40k/DeathGuardPage.vue
  src/views/40k/DeathwatchPage.vue
  src/views/40k/DrukhariPage.vue
  src/views/40k/GenestealerCultsPage.vue
  src/views/40k/GreyKnightsPage.vue
  src/views/40k/ImperialKnightsPage.vue
  src/views/40k/LeaguesVotannPage.vue
  src/views/40k/NecronsPage.vue
  src/views/40k/OrksPage.vue
  src/views/40k/SpaceWolvesPage.vue
  src/views/40k/TauEmpirePage.vue
  src/views/40k/ThousandSonsPage.vue
  src/views/40k/TyranidsPage.vue
  src/views/40k/WorldEatersPage.vue
Due: none

refactor(api): :recycle: move i18n files to app
  README.md
  src/components/40k/FilterForm.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/SavedList.vue
  src/components/SiteHeader.vue
  src/i18n/40k/en.i18n.40k.json
  src/i18n/en.i18n.json
  src/views/40k/HomePage.vue
Due: none

refactor(40k pages): :recycle: unify all faction pages and create dynamic routes, including 404 page
  README.md
  src/data/40k/factions.json
  src/router/40k/routes.js
  src/router/index.js
  src/router/routes.js
  src/views/40k/AdeptaSororitasPage.vue
  src/views/40k/AdeptusAstartesPage.vue
  src/views/40k/AdeptusMechanicusPage.vue
  src/views/40k/AeldariPage.vue
  src/views/40k/AgentsImperiumPage.vue
  src/views/40k/AstraMilitarumPage.vue
  src/views/40k/BlackTemplarsPage.vue
  src/views/40k/BloodAngelsPage.vue
  src/views/40k/ChaosDaemonsPage.vue
  src/views/40k/ChaosKnightsPage.vue
  src/views/40k/ChaosSpaceMarinesPage.vue
  src/views/40k/DarkAngelsPage.vue
  src/views/40k/DeathGuardPage.vue
  src/views/40k/DeathwatchPage.vue
  src/views/40k/DrukhariPage.vue
  src/views/40k/FactionPage.vue
  src/views/40k/GenestealerCultsPage.vue
  src/views/40k/GreyKnightsPage.vue
  src/views/40k/ImperialKnightsPage.vue
  src/views/40k/LeaguesVotannPage.vue
  src/views/40k/NecronsPage.vue
  src/views/40k/OrksPage.vue
  src/views/40k/SpaceWolvesPage.vue
  src/views/40k/TauEmpirePage.vue
  src/views/40k/ThousandSonsPage.vue
  src/views/40k/TyranidsPage.vue
  src/views/40k/WorldEatersPage.vue
  src/views/NotFoundPage.vue
Due: eslint --fix

docs(readme): :memo: update readme
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint: (any of: *.css) or (any of: *.scss)
  postcss --config postcss.config.js --replace: any of: *.scss
