Repository isorna/wardice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, postcss --config postcss.config.js --replace, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.css": "stylelint",
  "*.scss": ["postcss --config postcss.config.js --replace", "stylelint"]
}

.lintstagedrc.json:

{
  "*.{js,vue}": "eslint --fix",
  "*.{css,vue}": "stylelint --fix"
}

build(PWA): :construction_worker: update pwa manifest
  vite.config.js
Due: eslint --fix

fix(PWA): :bug: fix typo
  vite.config.js
Due: eslint --fix

fix(components): :bug: fix bug affecting list saving
  src/store/40k/lists.store.js
Due: eslint --fix

feat(api): :sparkles: add faction rules to api
  src/components/40k/FilterForm.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/SavedList.vue
  src/router/40k/routes.js
  src/style.css
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint, stylelint --fix

feat(api): :sparkles: list enhancements
  README.md
  src/components/40k/EnhancementCard.vue
  src/components/40k/EnhancementsList.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/ProfilesList.vue
  src/components/40k/SavedList.vue
  src/i18n/40k/en.i18n.40k.json
  src/store/40k/lists.store.js
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

feat(api): :sparkles: move api files to github hosting
  .gitmodules
  README.md
  src/views/40k/FactionPage.vue
  vite.config.js
Due: eslint --fix, stylelint --fix

style(styles): :lipstick: refactor some styles
  src/components/40k/EnhancementsList.vue
  src/components/40k/SavedList.vue
  src/style.css
Due: eslint --fix, stylelint, stylelint --fix

fix(styles): :bug: fix horizontal scroll bug
  src/style.css
  src/views/GamesPage.vue
Due: eslint --fix, stylelint, stylelint --fix

fix(styles): :bug: fix list styles
  src/components/40k/EnhancementCard.vue
  src/components/40k/SavedList.vue
  src/i18n/en.i18n.json
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: show faction & detachment rules & stratagems
  src/components/40k/DetachmentRulesCard.vue
  src/components/40k/FactionRulesList.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/SavedList.vue
  src/components/40k/StratagemCard.vue
  src/components/40k/StratagemsList.vue
  src/i18n/40k/en.i18n.40k.json
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

fix(styles): :bug: fix missing styles
  src/components/40k/EnhancementCard.vue
  src/components/40k/StratagemCard.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: show Tau Empire Drone rules
  src/components/40k/TauDroneCard.vue
  src/components/40k/TauDrones.vue
  src/i18n/40k/en.i18n.40k.json
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

fix(components): :recycle: show more than one faction rule
  src/components/40k/FactionRulesList.vue
Due: eslint --fix, stylelint --fix

fix(api): :bug: add timestam for api files
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

fix(api): :bug: fix api caching bug
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: copy list text
  src/components/40k/SavedList.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: app menu
  src/components/40k/FactionMenu.vue
  src/components/40k/FilterForm.vue
  src/i18n/40k/en.i18n.40k.json
  src/i18n/en.i18n.json
  src/store/app.store.js
  src/style.css
  src/views/40k/FactionPage.vue
  src/views/40k/HomePage.vue
  vite.config.js
Due: eslint --fix, stylelint, stylelint --fix

style(components): :lipstick: replace menu buttons text with icons
  README.md
  package-lock.json
  package.json
  src/components/40k/FactionMenu.vue
Due: eslint --fix, stylelint --fix

fix(components): :bug: fix button alignment
  src/components/40k/FactionMenu.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: copy list button
  src/components/40k/SavedList.vue
  src/i18n/en.i18n.json
Due: eslint --fix, stylelint --fix

refactor(styles): :lipstick: ui improvements, add delete list button
  src/components/40k/FactionMenu.vue
  src/components/40k/SavedList.vue
  src/i18n/en.i18n.json
  src/store/app.store.js
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: set list name
  src/components/40k/SavedList.vue
  src/i18n/en.i18n.json
  src/store/40k/lists.store.js
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: filter visible profiles & enhancements, fix bug affecting list saving
  src/components/40k/EnhancementCard.vue
  src/components/40k/FactionMenu.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/SavedList.vue
  src/store/40k/lists.store.js
  src/store/app.store.js
  src/views/40k/FactionPage.vue
  src/views/40k/HomePage.vue
Due: eslint --fix, stylelint --fix

fix(components): :bug: fix typo
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: improve coy list feature
  src/components/40k/SavedList.vue
  src/components/40k/TauDroneCard.vue
  src/i18n/en.i18n.json
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: set faction as favorite on 40k index page
  README.md
  src/i18n/en.i18n.json
  src/store/app.store.js
  src/views/40k/HomePage.vue
Due: eslint --fix, stylelint --fix

style(components): :lipstick: add animations to bookmark list
  src/i18n/en.i18n.json
  src/store/40k/lists.store.js
  src/store/app.store.js
  src/views/40k/HomePage.vue
  src/views/GamesPage.vue
Due: eslint --fix, stylelint --fix

fix(components): :bug: fix problem with filter view, now it's not possible to add profiles/enhancements while filtering
  src/components/40k/EnhancementCard.vue
  src/components/40k/ProfileCard.vue
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

fix(components): :bug: hide also enhancement cost while filtering
  src/components/40k/EnhancementCard.vue
Due: eslint --fix, stylelint --fix

refactor(components): :recycle: move fetch code to a composable helper
  src/helpers/fetch.js
  src/i18n/en.i18n.json
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

refactor(components): :recycle: refactor fetch helper to useFetch, so that it follows code standards
  src/helpers/useFetch.js
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

chore(project dependencies): :memo: add storybook documentation integration
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
Due: none

feat(components): :sparkles: filter profiles visibility
  src/components/40k/ProfileCard.vue
  src/components/40k/ProfilesList.vue
  src/i18n/40k/en.i18n.40k.json
  src/views/40k/FactionPage.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: add help system, and improve profiles view with categories
  README.md
  package-lock.json
  package.json
  public/fixed.logo.svg
  public/logo.animated.svg
  src/components/40k/ProfilesList.vue
  src/components/SiteHeader.vue
  src/components/WardiceLogo.vue
  src/i18n/40k/en.i18n.40k.json
  src/i18n/en.i18n.json
  src/main.js
  src/tour.theme.css
  src/views/GamesPage.vue
  src/views/IndexPage.vue
  vite.config.js
Due: eslint --fix, stylelint, stylelint --fix

feat(components): :sparkles: help system
  src/components/40k/FactionMenu.vue
  src/i18n/40k/en.i18n.40k.json
  src/i18n/en.i18n.json
  src/views/40k/FactionPage.vue
  src/views/40k/HomePage.vue
  src/views/GamesPage.vue
Due: eslint --fix, stylelint --fix

feat(components): :sparkles: sort profiles by keywords
  src/components/40k/ProfilesList.vue
  src/components/40k/SavedList.vue
  src/i18n/40k/en.i18n.40k.json
Due: eslint --fix, stylelint --fix

build(pwa): :construction_worker: update pwa chunks
  vite.config.js
Due: eslint --fix

fix(components): :bug: fix failing list content
  src/components/40k/SavedList.vue
Due: eslint --fix, stylelint --fix

fix(components): :bug: fix wrong router behaviour
  src/components/40k/ProfileCard.vue
  src/helpers/useFetch.js
  src/views/40k/FactionPage.vue
  src/views/IndexPage.vue
Due: eslint --fix, stylelint --fix
