Repository isorna/wardice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, postcss --config postcss.config.js --replace, stylelint --fix

docs: :memo: update README for warmachine
  README.md
Due: none

feat: :sparkles: add ui for oauth
  FEATURE_OAUTH.md
  index.html
  package-lock.json
  package.json
  src/components/PageFooter.vue
  src/firebase/auth.js
  src/style.css
Due: eslint --fix, stylelint, stylelint --fix

feat: :sparkles: update dependencies
  package-lock.json
Due: none

feat: :sparkles: update dependencies
  .eslintrc.json
  package-lock.json
  package.json
  src/views/GamesPage.vue
Due: eslint --fix, stylelint --fix

feat: :sparkles: update dependencies
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .gitignore
  firebase.json
Due: none

feat: :sparkles: update dependencies
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat: :sparkles: update dependencies
  firebase.json
Due: none

fix: :arrow_up: fix firebase dependencies
  .gitignore
  firebase.json
Due: none

feat(warmachine data): :sparkles: steamroller scenarios
  package-lock.json
  package.json
  src/components/InlineSvg.vue
  src/data/warmachine/factions.json
  src/data/warmachine/scenarios.json
  src/data/warmachine/scenarios/scenario_1_color_guard_map.svg
  src/data/warmachine/scenarios/scenario_2_trench_warfare_map.svg
  src/data/warmachine/scenarios/scenario_3_wolves_at_our_heels_map.svg
  src/data/warmachine/scenarios/scenario_4_payload_map.svg
  src/data/warmachine/scenarios/scenario_5_two_fronts_map.svg
  src/data/warmachine/scenarios/scenario_6_best_laid_plans_map.svg
  src/data/warmachine/steamroller.es.json
  src/data/warmachine/steamroller.json
  src/i18n/40k/en.i18n.json
  src/i18n/warmachine/en.i18n.json
  src/router/index.js
  src/router/warmachine/routes.js
  src/style.css
  src/views/GamesPage.vue
  src/views/warmachine/FactionPage.OLD.vue
  src/views/warmachine/FactionPage.vue
  src/views/warmachine/HomePage.vue
  src/views/warmachine/ScenarioPage.vue
  vite.config.js
Due: eslint --fix, stylelint, stylelint --fix

feat(warmachine data): :sparkles: steamroller scenarios
  src/components/40k/DetachmentRulesCard.vue
  src/components/40k/EnhancementCard.vue
  src/components/40k/EnhancementsList.vue
  src/components/40k/FactionMenu.vue
  src/components/40k/FactionRulesList.vue
  src/components/40k/FilterForm.vue
  src/components/40k/ProfileCard.vue
  src/components/40k/ProfilesList.vue
  src/components/40k/SavedList.vue
  src/components/40k/StratagemCard.vue
  src/components/40k/StratagemsList.vue
  src/components/40k/TauDroneCard.vue
  src/components/40k/TauDrones.vue
Due: eslint --fix, stylelint --fix

feat(warmachine data): :sparkles: steamroller scenarios
  src/views/40k/FactionPage.vue
  src/views/40k/HomePage.vue
  src/views/warmachine/FactionPage.OLD.vue
Due: eslint --fix, stylelint --fix

feat(warmachine data): :sparkles: steamroller rules
  src/components/InlineSvg.vue
  src/components/warmachine/RuleCard.vue
  src/components/warmachine/RulesList.vue
  src/views/warmachine/HomePage.vue
  src/views/warmachine/ScenarioPage.vue
Due: eslint --fix, stylelint --fix

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_3_wolves_at_our_heels_map.svg
Due: none

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_1_color_guard_map.svg
  src/data/warmachine/scenarios/scenario_3_wolves_at_our_heels_map.svg
Due: none

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_2_trench_warfare_map.svg
Due: none

fix(warmachine data): :bug: fix map lines
  src/components/InlineSvg.vue
  src/data/warmachine/scenarios/scenario_4_payload_map.svg
Due: eslint --fix, stylelint --fix

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_1_color_guard_map.svg
Due: none

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_1_color_guard_map.svg
  src/data/warmachine/scenarios/scenario_2_trench_warfare_map.svg
  src/data/warmachine/scenarios/scenario_3_wolves_at_our_heels_map.svg
Due: none

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_4_payload_map.svg
Due: none

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_5_two_fronts_map.svg
Due: none

fix(warmachine data): :bug: fix map lines
  src/data/warmachine/scenarios/scenario_6_best_laid_plans_map.svg
Due: none

feat(scenarios): king of the hill custom scenario
  src/data/warmachine/scenarios.json
  src/data/warmachine/scenarios/custom_scenario_1_king_of_the_hill_map.svg
  src/router/warmachine/routes.js
  src/views/warmachine/HomePage.vue
Due: eslint --fix, stylelint --fix

fix: :memo: update typo
  src/data/warmachine/scenarios.json
  src/views/warmachine/HomePage.vue
Due: eslint --fix, stylelint --fix

feat(army builder): :construction: profiles viewer
  public/army.html
  public/data/warmachine/Warbeast Health Instructions.md
  public/data/warmachine/Warjack Health Instructions.md
  public/data/warmachine/abilities/abilities.json
  public/data/warmachine/cryx/cryx.dark-host.abilities.json
  public/data/warmachine/cryx/cryx.dark-host.profiles.json
  public/data/warmachine/cryx/cryx.dark-host.profiles.v0.json
  public/data/warmachine/cryx/cryx.dark-host.spells.json
  public/data/warmachine/skorne/skorne.exalted.abilities.json
  public/data/warmachine/skorne/skorne.exalted.profiles.json
  public/data/warmachine/skorne/skorne.exalted.spells.json
  public/data/warmachine/spells/spells.json
  public/profiles.html
  public/profiles.v2.html
  public/profiles.v3.html
  public/profiles.v4.html
  public/profiles.v5.html
  src/data/warmachine/abilities/abilities.json
  src/data/warmachine/mk4.beta.json
  src/data/warmachine/profiles/cryx/cryx.dark-host.profiles.json
  src/data/warmachine/profiles/skorne/skorne.exalted.profiles.json
  src/data/warmachine/spells/spells.json
Due: none

docs(IA): :memo: agent helpers
  .github/chatmodes/4.1-Beast.chatmode.md
  .github/chatmodes/critical-thinking.chatmode.md
  .github/chatmodes/debug.chatmode.md
  .github/chatmodes/demonstrate-understanding.chatmode.md
  .github/chatmodes/implementation-plan.chatmode.md
  .github/chatmodes/mentor.chatmode.md
  .github/chatmodes/plan.chatmode.md
  .github/chatmodes/planner.chatmode.md
  .github/chatmodes/principal-software-engineer.chatmode.md
  .github/chatmodes/prompt-engineer.chatmode.md
  .github/chatmodes/refine-issue.chatmode.md
  .github/chatmodes/simple-app-idea-generator.chatmode.md
  .github/chatmodes/specification.chatmode.md
  .github/instructions/copilot-thought-logging.instructions.md
  .github/instructions/github-actions-ci-cd-best-practices.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/nodejs-javascript-vitest.instructions.md
  .github/instructions/taming-copilot.instructions.md
  .github/instructions/vuejs3.instructions.md
Due: none

feat(army builder): :sparkles: army builder profile viewer first iteration
  src/data/warmachine/factions.json
  src/i18n/warmachine/en.i18n.json
  src/router/warmachine/routes.js
  src/style.css
  src/views/GamesPage.vue
  src/views/NotFoundPage.vue
  src/views/warmachine/ArmyBuilder.vue
  src/views/warmachine/ArmyPage.vue
  src/views/warmachine/FactionPage.vue
  src/views/warmachine/FactionsPage.vue
  src/views/warmachine/HomePage.vue
  src/views/warmachine/RulesPage.vue
  src/views/warmachine/ScenarioPage.vue
  src/views/warmachine/SteamrollerPage.vue
Due: eslint --fix, stylelint, stylelint --fix

fix(data): :bug: missing data files
  src/data/warmachine/abilities/cryx.dark-host.abilities.json
  src/data/warmachine/abilities/skorne.exalted.abilities.json
  src/data/warmachine/spells/cryx.dark-host.spells.json
  src/data/warmachine/spells/skorne.exalted.spells.json
Due: none

fix(data): :bug: missing data files
  src/data/warmachine/profiles/cryx/cryx.dark-host.profiles.OLD.json
  src/data/warmachine/profiles/skorne/skorne.exalted.profiles.OLD.json
Due: none

style: :art: quick styles adaptation, will update later
  src/components/warmachine/ProfileCard.vue
  src/components/warmachine/ProfileList.vue
  src/i18n/warmachine/en.i18n.json
  src/views/warmachine/ArmyPage.vue
Due: eslint --fix, stylelint --fix

fix(data): :ambulance: update correct url
  src/views/warmachine/ArmyPage.vue
Due: eslint --fix, stylelint --fix

feat(army builder): :recycle: optimize visibility of profile list, card view and army builder components
  src/components/warmachine/ProfileList.vue
  src/style.css
  src/views/warmachine/ArmyPage.vue
  src/views/warmachine/FactionPage.vue
Due: eslint --fix, stylelint, stylelint --fix

feat(translations): :sparkles: feature translations
  README.md
  public/icons/faction-cryx-color.png
  public/icons/faction-general-bw.png
  public/icons/faction-skorne-color.png
  src/components/SiteHeader.vue
  src/i18n/warmachine/en.i18n.json
  src/views/warmachine/FactionPage.vue
  vite.config.js
Due: eslint --fix, stylelint --fix

feat(translations): :sparkles: feature translations
  src/App.vue
  src/components/SiteHeader.vue
  src/helpers/data-loader.js
  src/main.js
  src/router/warmachine/routes.js
  src/style.css
  src/views/warmachine/SteamrollerPage.vue
Due: eslint --fix, stylelint, stylelint --fix

refactor: :recycle: remove unnecesary files
  public/army.html
  public/data/warmachine/Warbeast Health Instructions.md
  public/data/warmachine/Warjack Health Instructions.md
  public/data/warmachine/abilities/abilities.json
  public/data/warmachine/cryx/cryx.dark-host.abilities.json
  public/data/warmachine/cryx/cryx.dark-host.profiles.json
  public/data/warmachine/cryx/cryx.dark-host.profiles.v0.json
  public/data/warmachine/cryx/cryx.dark-host.spells.json
  public/data/warmachine/skorne/skorne.exalted.abilities.json
  public/data/warmachine/skorne/skorne.exalted.profiles.json
  public/data/warmachine/skorne/skorne.exalted.spells.json
  public/data/warmachine/spells/spells.json
  public/profile-sheet.html
  public/profiles.html
  public/profiles.v2.html
  public/profiles.v3.html
  public/profiles.v4.html
  public/profiles.v5.html
  src/data/warmachine/profiles/cryx/cryx.dark-host.profiles.OLD.json
  src/data/warmachine/profiles/skorne/skorne.exalted.profiles.OLD.json
Due: none

feat(rules): :sparkles: rules pages
  src/data/warmachine/abilities/skorne.army-of-the-western-reaches.abilities.json
  src/data/warmachine/brawlmachine-rules.json
  src/data/warmachine/mk4-rules.WIP.json
  src/data/warmachine/mk4-rules.json
  src/data/warmachine/profiles/skorne/skorne.army-of-the-western-reaches.profiles.json
  src/data/warmachine/skorne.army-of-the-western-reaches.json
  src/data/warmachine/spells/skorne.army-of-the-western-reaches.spells.json
  src/router/warmachine/routes.js
  src/views/warmachine/HomePage.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,vue})
  stylelint: (any of: *.css) or (any of: *.scss)
  postcss --config postcss.config.js --replace: any of: *.scss
  stylelint --fix: any of: *.{css,vue}
